In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

## Start em with only one tight end

In [2]:
week = Game('FanDuel-NFL-2022 ET-12 ET-18 ET-84669-players-list.csv',
            'NFL',
            '2022-15 Fantasy Pros Projections 22-12-18.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 15)

In [3]:
startem = pd.read_excel('Sports Illustrated.xlsx', sheet_name='Week 15')
startem.shape

(67, 2)

In [4]:
startem[startem['Name'].str.contains('Fields')]

            Name Position
5  Justin Fields       QB

In [5]:
# drop all players not in SI start em
DROP = set(week.data['Nickname']) - set(startem['Name'])

week.generateRosters('reimagined', drop_players_initial=DROP, min_pts=0, drop_injuries=['D', 'IA', 'O', 'IR'], max_te=1)

Preprocessing completed in 0:00:00.002039.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:00:22.656446.
Optimal solutions: 423 / 511

Dropped Jalen Hurts. Using Roster1 as basis...
Iteration 1 completed in 0:00:24.416882.
Optimal solutions: 463 / 511

Dropped Alvin Kamara. Using Roster2 as basis...
Iteration 2 completed in 0:00:22.722039.
Optimal solutions: 423 / 511

Dropped DeVonta Smith. Using Roster3 as basis...
Iteration 3 completed in 0:00:23.542600.
Optimal solutions: 435 / 511

Dropped Mike Williams. Using Roster4 as basis...
Iteration 4 completed in 0:00:23.639255.
Optimal solutions: 435 / 511

Dropped Chris Olave. Using Roster5 as basis...
Iteration 5 completed in 0:00:23.695451.
Optimal solutions: 447 / 511

Dropped Najee Harris. Using Roster6 as basis...
Iteration 6 completed in 0:00:22.500295.
Optimal solutions: 431 / 511

Dropped Zay Jones. Using Roster7 as basis...
Iteration 7 completed in 0:00:26.269673.
Optimal solutions: 503 / 511

Dropped Greg Dulcich. Using Roster8 as basis...
Iteration 8 completed in 0:00:24.053237.
Optimal solutions: 431 / 511

Dropped Atlanta Falcons. Using Roster9 as basis...
Iteration 9 completed in 0:00:23.259600.
Optimal solutions: 423 / 511
--------------------------------------------------

Strategy completed in 0:03:56.756479.
Optimal results: 4415 / 5111

Summarizing rosters...
Rosters summarized in 0:00:09.174298.

Total time: 0:04:05.932816.

(4415, 5111)

In [6]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std,Proj_Percent
46,Tom Brady,QB,6800,NaN,1,0,0,0,0,0,17.5,2022-14,2022.0,14.0,16.0,16.89,5.29,85.3
29,Jared Goff,QB,7300,NaN,1,0,0,0,0,0,16.7,2022-14,2022.0,14.0,16.0,16.86,7.92,59.6
40,Derek Carr,QB,7000,NaN,1,0,0,0,0,0,16.2,2022-14,2022.0,14.0,16.0,15.02,5.67,64.3
52,Mac Jones,QB,6700,NaN,1,0,0,0,0,0,16.0,2022-14,2022.0,14.0,16.0,12.69,6.86,13.9
53,Andy Dalton,QB,6700,NaN,1,0,0,0,0,0,15.5,2022-13,2022.0,13.0,16.0,14.16,6.35,10.0
61,Desmond Ridder,QB,6500,NaN,1,0,0,0,0,0,15.1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,Sam Darnold,QB,6600,NaN,1,0,0,0,0,0,14.3,2022-14,2022.0,14.0,16.0,14.32,8.04,3.4
69,Zach Wilson,QB,6400,NaN,1,0,0,0,0,0,14.1,2022-11,2022.0,11.0,16.0,12.27,6.28,5.7
87,Colt McCoy,QB,6100,NaN,1,0,0,0,0,0,13.7,2022-14,2022.0,14.0,15.0,6.32,7.38,1.8
33,James Conner,RB,7200,NaN,0,1,0,0,0,1,13.7,2022-14,2022.0,14.0,16.0,14.89,7.02,97.7

In [7]:
top = week.selectRosters(.75)
week._selection

'Roster45'

In [8]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

              Nickname Position  Salary  Projected  Top Appearances
55        Najee Harris       RB    6600       11.7             1157
76           Zay Jones       WR    6300       10.0             1146
35       Mike Williams       WR    7200       12.7              933
37         Chris Olave       WR    7100       12.4              913
31       DeVonta Smith       WR    7200       12.2              894
22        Alvin Kamara       RB    7600       14.7              880
208      Tyler Conklin       TE    5000        6.4              839
666     Denver Broncos        D    3700        7.6              734
3          Jalen Hurts       QB    9000       27.5              634
34      Zonovan Knight       RB    7200       12.1              592
670    Atlanta Falcons        D    3300        5.7              570
20       Miles Sanders       RB    7800       14.6              416
4        Derrick Henry       RB    8900       19.7              371
155       Greg Dulcich       TE    5600        9.1              350
26        Dak Prescott       QB    7500       18.7              158
19      Garrett Wilson       WR    7800       12.5              153
17          Joe Burrow       QB    8000       20.7              135
28     Trevor Lawrence       QB    7400       18.0              133
18       Justin Fields       QB    7900       20.5              126
23       Isiah Pacheco       RB    7600       12.7              126
25     Ezekiel Elliott       RB    7500       12.2              124
164        Evan Engram       TE    5500        8.1              121
42      Ryan Tannehill       QB    6900       15.8              118
16        Keenan Allen       WR    8000       13.6               74
6        Davante Adams       WR    8500       16.6               66
14         CeeDee Lamb       WR    8100       15.0               56
11          A.J. Brown       WR    8200       14.8               17
9    Amon-Ra St. Brown       WR    8400       14.0               17
13           Joe Mixon       RB    8100       13.6                4
5        Austin Ekeler       RB    8700       18.0                2

In [9]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'Hist_Std':'first', 'K':min, 'Score':['first', 'count']})
y_g.sort_values(('Score', 'first'), ascending=False).head(10)

      Roster   Salary Projected Hist_Std    K Score
       first    first     first    first  min first count
84  Roster45  59700.0     115.2    19.40  2.0  8130    15
83  Roster39  59800.0     114.9    18.93  2.0  7809    17
82  Roster23  59900.0     115.1    19.00  2.0  7666    34
81   Roster8  59900.0     115.7    20.02  1.0  7488    47
80   Roster0  59900.0     116.0    19.05  0.0  7477    34
79  Roster38  60000.0     115.5    20.67  2.0  7469    32
78  Roster34  59900.0     115.2    19.90  2.0  7449    32
77   Roster6  59900.0     113.7    18.51  1.0  7401    34
76  Roster18  59900.0     115.0    17.78  2.0  7364    18
75  Roster30  60000.0     115.2    18.79  2.0  7360    12

In [16]:
week.data[week.data['Roster45']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
3,Jalen Hurts,QB,9000,NaN,1,0,0,0,0,0,27.5,2022-14,2022.0,14.0,16.0,24.76,6.49
22,Alvin Kamara,RB,7600,NaN,0,1,0,0,0,1,14.7,2022-13,2022.0,13.0,16.0,12.69,9.23
31,DeVonta Smith,WR,7200,NaN,0,0,1,0,0,1,12.2,2022-14,2022.0,14.0,16.0,10.47,6.87
35,Mike Williams,WR,7200,NaN,0,0,1,0,0,1,12.7,2022-14,2022.0,14.0,16.0,12.37,7.21
37,Chris Olave,WR,7100,NaN,0,0,1,0,0,1,12.4,2022-13,2022.0,13.0,12.0,11.39,4.52
55,Najee Harris,RB,6600,NaN,0,1,0,0,0,1,11.7,2022-14,2022.0,14.0,16.0,12.01,6.16
76,Zay Jones,WR,6300,NaN,0,0,1,0,0,1,10.0,2022-14,2022.0,14.0,16.0,9.65,6.06
208,Tyler Conklin,TE,5000,NaN,0,0,0,1,0,1,6.4,2022-14,2022.0,14.0,16.0,6.10,5.59
666,Denver Broncos,D,3700,NaN,0,0,0,0,1,0,7.6,2022-14,2022.0,14.0,16.0,5.94,4.85

In [17]:
week.data[week.data['Roster39']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
3,Jalen Hurts,QB,9000,NaN,1,0,0,0,0,0,27.5,2022-14,2022.0,14.0,16.0,24.76,6.49
22,Alvin Kamara,RB,7600,NaN,0,1,0,0,0,1,14.7,2022-13,2022.0,13.0,16.0,12.69,9.23
31,DeVonta Smith,WR,7200,NaN,0,0,1,0,0,1,12.2,2022-14,2022.0,14.0,16.0,10.47,6.87
34,Zonovan Knight,RB,7200,NaN,0,1,0,0,0,1,12.1,2022-14,2022.0,14.0,3.0,13.60,1.57
35,Mike Williams,WR,7200,NaN,0,0,1,0,0,1,12.7,2022-14,2022.0,14.0,16.0,12.37,7.21
55,Najee Harris,RB,6600,NaN,0,1,0,0,0,1,11.7,2022-14,2022.0,14.0,16.0,12.01,6.16
76,Zay Jones,WR,6300,NaN,0,0,1,0,0,1,10.0,2022-14,2022.0,14.0,16.0,9.65,6.06
208,Tyler Conklin,TE,5000,NaN,0,0,0,1,0,1,6.4,2022-14,2022.0,14.0,16.0,6.10,5.59
666,Denver Broncos,D,3700,NaN,0,0,0,0,1,0,7.6,2022-14,2022.0,14.0,16.0,5.94,4.85

In [18]:
week.data[week.data['Roster23']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
3,Jalen Hurts,QB,9000,NaN,1,0,0,0,0,0,27.5,2022-14,2022.0,14.0,16.0,24.76,6.49
20,Miles Sanders,RB,7800,NaN,0,1,0,0,0,1,14.6,2022-14,2022.0,14.0,16.0,14.18,8.35
31,DeVonta Smith,WR,7200,NaN,0,0,1,0,0,1,12.2,2022-14,2022.0,14.0,16.0,10.47,6.87
35,Mike Williams,WR,7200,NaN,0,0,1,0,0,1,12.7,2022-14,2022.0,14.0,16.0,12.37,7.21
37,Chris Olave,WR,7100,NaN,0,0,1,0,0,1,12.4,2022-13,2022.0,13.0,12.0,11.39,4.52
55,Najee Harris,RB,6600,NaN,0,1,0,0,0,1,11.7,2022-14,2022.0,14.0,16.0,12.01,6.16
76,Zay Jones,WR,6300,NaN,0,0,1,0,0,1,10.0,2022-14,2022.0,14.0,16.0,9.65,6.06
208,Tyler Conklin,TE,5000,NaN,0,0,0,1,0,1,6.4,2022-14,2022.0,14.0,16.0,6.10,5.59
666,Denver Broncos,D,3700,NaN,0,0,0,0,1,0,7.6,2022-14,2022.0,14.0,16.0,5.94,4.85

## Save Game

In [19]:
# name with 'start em'
week.export_game()

True

## FanDuel Tournament Export File

In [14]:
play = y_g.sort_values(('Score', 'first'), ascending=False).head(16)

rosters = play[('Roster', 'first')].to_list()

play

      Roster   Salary Projected Hist_Std    K Score
       first    first     first    first  min first count
84  Roster45  59700.0     115.2    19.40  2.0  8130    15
83  Roster39  59800.0     114.9    18.93  2.0  7809    17
82  Roster23  59900.0     115.1    19.00  2.0  7666    34
81   Roster8  59900.0     115.7    20.02  1.0  7488    47
80   Roster0  59900.0     116.0    19.05  0.0  7477    34
79  Roster38  60000.0     115.5    20.67  2.0  7469    32
78  Roster34  59900.0     115.2    19.90  2.0  7449    32
77   Roster6  59900.0     113.7    18.51  1.0  7401    34
76  Roster18  59900.0     115.0    17.78  2.0  7364    18
75  Roster30  60000.0     115.2    18.79  2.0  7360    12
74   Roster2  59900.0     115.3    16.69  1.0  7353    46
73  Roster20  60000.0     114.8    18.52  2.0  7345    36
72  Roster19  59900.0     114.5    17.65  2.0  7325    36
71  Roster35  60000.0     114.7    18.66  2.0  7321    22
70   Roster3  59900.0     115.9    17.84  1.0  7175    17
69   Roster5  60000.0     115.7    18.58  1.0  7156    25

In [20]:
# rename with start em
csv = week.FanDuelCSVExport(rosters)

Saving file Lib/FanDuel CSV Imports/FanDuel NFL 84669 upload file.csv