In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
week = Game('FanDuel-NFL-2022 ET-11 ET-27 ET-83704-players-list.csv',
            'NFL',
            '2022-12 Fantasy Pros Projections 22-11-27.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 12)

In [3]:
DROP = ['New York Giants', 'Green Bay Packers', 'Los Angeles Rams', 'New Orleans Saints'] # NFL

week.generateRosters('reimagined', drop_players_initial=DROP, drop_injuries=['D', 'IR', 'O'])

Preprocessing completed in 0:00:00.000918.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:00:34.471766.
Optimal solutions: 511 / 511

Dropped Patrick Mahomes. Using Roster1 as basis...
Iteration 1 completed in 0:00:33.602106.
Optimal solutions: 511 / 511

Dropped Travis Kelce. Using Roster2 as basis...
Iteration 2 completed in 0:00:34.523705.
Optimal solutions: 511 / 511

Dropped James Conner. Using Roster3 as basis...
Iteration 3 completed in 0:00:35.488313.
Optimal solutions: 511 / 511

Dropped Deebo Samuel. Using Roster4 as basis...
Iteration 4 completed in 0:00:35.633591.
Optimal solutions: 511 / 511

Dropped Brandon Aiyuk. Using Roster5 as basis...
Iteration 5 completed in 0:00:36.371444.
Optimal solutions: 511 / 511

Dropped Rachaad White. Using Roster6 as basis...
Iteration 6 completed in 0:00:36.305249.
Optimal solutions: 511 / 511

Dropped Antonio Gibson. Using Roster7 as basis...
Iteration 7 completed in 0:00:39.726488.
Optimal solutions: 511 / 511

Dropped Garrett Wilson. Using Roster8 as basis...
Iteration 8 completed in 0:00:42.823323.
Optimal solutions: 511 / 511

Dropped Tennessee Titans. Using Roster9 as basis...
Iteration 9 completed in 0:00:43.415406.
Optimal solutions: 511 / 511
--------------------------------------------------

Strategy completed in 0:06:12.362390.
Optimal results: 5111 / 5111

Summarizing rosters...
Rosters summarized in 0:00:15.444132.

Total time: 0:06:27.807440.

(5111, 5111)

In [4]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std,Proj_Percent
745,New Orleans Saints,D,3500,NaN,0,0,0,0,1,0,6.0,2022-11,2022.0,11.0,16.0,7.12,5.02,68.3
747,Los Angeles Rams,D,3300,NaN,0,0,0,0,1,0,5.4,2022-11,2022.0,11.0,16.0,6.88,3.69,38.8
287,Travis Homer,RB,4700,NaN,0,1,0,0,0,1,2.9,2022-10,2022.0,10.0,16.0,3.24,4.40,0.6
613,C.J. Uzomah,TE,4300,NaN,0,0,0,1,0,1,2.9,2022-11,2022.0,11.0,16.0,2.98,2.10,0.3
607,O.J. Howard,TE,4400,NaN,0,0,0,1,0,1,2.9,2022-11,2022.0,11.0,16.0,2.99,5.01,0.7
300,Dyami Brown,WR,4600,NaN,0,0,1,0,0,1,2.9,2022-10,2022.0,10.0,16.0,3.04,5.83,0.1
270,Keelan Cole,WR,4700,NaN,0,0,1,0,0,1,2.8,2022-11,2022.0,11.0,16.0,3.29,3.46,0.1
278,Raheem Blackshear,RB,4700,NaN,0,1,0,0,0,1,2.8,2022-11,2022.0,11.0,7.0,2.64,4.90,0.8
388,Adam Trautman,TE,4500,NaN,0,0,0,1,0,1,2.8,2022-11,2022.0,11.0,16.0,4.49,3.86,0.2
273,Trayveon Williams,RB,4700,NaN,0,1,0,0,0,1,2.8,2022-11,2022.0,11.0,16.0,1.62,2.47,0.0

In [5]:
top = week.selectRosters(.75)
week._selection

'Roster0'

In [6]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

                Nickname Position  Salary  Projected  Top Appearances
3        Patrick Mahomes       QB    9000       26.8             1386
75         Rachaad White       RB    6400       13.5             1217
56         Brandon Aiyuk       WR    6700       11.9             1010
118       Garrett Wilson       WR    6000       10.6              987
46          Deebo Samuel       WR    6900       12.7              896
43          James Conner       RB    7000       14.3              861
13          Travis Kelce       TE    8200       16.6              781
111       Antonio Gibson       RB    6100       11.3              681
35            DK Metcalf       WR    7200       13.0              610
5          Austin Ekeler       RB    8800       18.9              508
739       Denver Broncos        D    3900        7.8              489
87       Latavius Murray       RB    6200       11.3              457
743     Tennessee Titans        D    3700        7.1              404
23       Jeff Wilson Jr.       RB    7700       15.6              342
89              DJ Moore       WR    6200       10.0              293
211       Gerald Everett       TE    5200        7.4              214
748     Cleveland Browns        D    3200        5.6              198
252        Tyler Conklin       TE    4800        6.2              191
749       Houston Texans        D    3000        5.0              183
40          Chris Godwin       WR    7000       12.2              153
744   Cincinnati Bengals        D    3600        6.7              112
164        Treylon Burks       WR    5900        8.9               91
201         Greg Dulcich       TE    5300        7.6               87
4          Davante Adams       WR    9000       17.9               65
91         George Kittle       TE    6200       10.0               57
44         Dameon Pierce       RB    6900       12.9               53
248          Evan Engram       TE    4900        6.5               49
62   JuJu Smith-Schuster       WR    6600       10.8               40
81         Isiah Pacheco       RB    6300       11.1               39
28        Terry McLaurin       WR    7500       13.3               13
31          Mark Andrews       TE    7300       13.1                7

In [7]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'Hist_Std':'first', 'K':min, 'Score':['first', 'count']})
y_g.sort_values(('Score', 'first'), ascending=False).head(10)

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
84     Roster0  60000.0     124.8    20.42  0.0  8223    42
83     Roster9  59900.0     124.4    19.74  1.0  7931     1
82     Roster7  60000.0     124.4    19.83  1.0  7707    37
81     Roster5  60000.0     124.4    20.31  1.0  7617    24
80     Roster6  60000.0     123.3    20.25  1.0  7548    34
79   Roster118  59900.0     123.6    20.19  3.0  7507     7
78    Roster26  59900.0     123.6    18.98  2.0  7504    13
77     Roster3  60000.0     124.0    19.08  1.0  7483    44
76     Roster2  60000.0     124.1    18.84  1.0  7441    66
75  Roster3190  59900.0     123.8    20.20  3.0  7378     1

In [16]:
# week.data[week.data['Roster0']==1].iloc[:, :17]

In [18]:
# week.data[week.data['Roster9']==1].iloc[:, :17]

In [19]:
week.data[week.data['Roster7']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
3,Patrick Mahomes,QB,9000,NaN,1,0,0,0,0,0,26.8,2022-11,2022.0,11.0,16.0,25.21,6.44
13,Travis Kelce,TE,8200,NaN,0,0,0,1,0,1,16.6,2022-11,2022.0,11.0,16.0,16.98,9.37
43,James Conner,RB,7000,NaN,0,1,0,0,0,1,14.3,2022-11,2022.0,11.0,16.0,15.65,8.96
46,Deebo Samuel,WR,6900,Q,0,0,1,0,0,1,12.7,2022-11,2022.0,11.0,16.0,15.08,5.89
56,Brandon Aiyuk,WR,6700,NaN,0,0,1,0,0,1,11.9,2022-11,2022.0,11.0,16.0,11.26,5.16
75,Rachaad White,RB,6400,NaN,0,1,0,0,0,1,13.5,2022-10,2022.0,10.0,10.0,4.97,3.91
87,Latavius Murray,RB,6200,NaN,0,1,0,0,0,1,11.3,2022-11,2022.0,11.0,16.0,7.78,5.68
118,Garrett Wilson,WR,6000,NaN,0,0,1,0,0,1,10.6,2022-11,2022.0,11.0,10.0,8.78,7.53
744,Cincinnati Bengals,D,3600,NaN,0,0,0,0,1,0,6.7,2022-11,2022.0,11.0,16.0,5.38,4.24

## Save Game

In [14]:
# week.export_game()