In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

In [2]:
week = Game('FanDuel-NFL-2022 ET-12 ET-04 ET-84056-players-list new.csv',
            'NFL',
            '2022-13 Fantasy Pros Projections 22-12-04.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 13)

In [3]:
DROP = ['Cincinnati Bengals', 'San Francisco 49ers', 'Detroit Lions', 'Indianapolis Colts'] # NFL

week.generateRosters('reimagined', drop_players_initial=DROP, drop_injuries=['D', 'IR', 'O'])

Preprocessing completed in 0:00:00.009523.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:01:29.492230.
Optimal solutions: 511 / 511

Dropped Patrick Mahomes. Using Roster1 as basis...
Iteration 1 completed in 0:00:56.084670.
Optimal solutions: 511 / 511

Dropped Davante Adams. Using Roster2 as basis...
Iteration 2 completed in 0:00:44.046296.
Optimal solutions: 511 / 511

Dropped Aaron Jones. Using Roster3 as basis...
Iteration 3 completed in 0:00:45.651257.
Optimal solutions: 511 / 511

Dropped Garrett Wilson. Using Roster4 as basis...
Iteration 4 completed in 0:00:46.718902.
Optimal solutions: 511 / 511

Dropped Dameon Pierce. Using Roster5 as basis...
Iteration 5 completed in 0:00:46.549023.
Optimal solutions: 511 / 511

Dropped Christian Watson. Using Roster6 as basis...
Iteration 6 completed in 0:00:46.224726.
Optimal solutions: 511 / 511

Dropped Pat Freiermuth. Using Roster7 as basis...
Iteration 7 completed in 0:00:53.973969.
Optimal solutions: 511 / 511

Dropped Kyren Williams. Using Roster8 as basis...
Iteration 8 completed in 0:00:48.538424.
Optimal solutions: 511 / 511

Dropped New York Jets. Using Roster9 as basis...
Iteration 9 completed in 0:00:48.606559.
Optimal solutions: 511 / 511
--------------------------------------------------

Strategy completed in 0:08:45.886056.
Optimal results: 5111 / 5111

Summarizing rosters...
Rosters summarized in 0:00:18.340111.

Total time: 0:09:04.235690.

(5111, 5111)

In [4]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std,Proj_Percent
179,Zonovan Knight,RB,5800,NaN,0,1,0,0,0,1,9.8,2022-12,2022.0,12.0,1.0,11.80,NaN,1.6
662,San Francisco 49ers,D,4300,NaN,0,0,0,0,1,0,7.2,2022-12,2022.0,12.0,16.0,8.88,5.55,95.0
798,Detroit Lions,D,3500,NaN,0,0,0,0,1,0,5.5,2022-12,2022.0,12.0,16.0,4.44,4.90,1.0
804,Cincinnati Bengals,D,3000,NaN,0,0,0,0,1,0,5.2,2022-12,2022.0,12.0,16.0,5.31,4.24,33.6
502,Jameson Williams,WR,4500,NaN,0,0,1,0,0,1,3.4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
278,Brandon Johnson,WR,4900,NaN,0,0,1,0,0,1,2.9,2022-12,2022.0,12.0,2.0,4.35,5.16,0.0
526,Isaiah Likely,TE,4500,NaN,0,0,0,1,0,1,2.9,2022-11,2022.0,11.0,9.0,4.62,5.37,15.2
188,Boston Scott,RB,5600,NaN,0,1,0,0,0,1,2.9,2022-12,2022.0,12.0,16.0,5.13,6.17,1.1
433,C.J. Uzomah,TE,4500,NaN,0,0,0,1,0,1,2.8,2022-12,2022.0,12.0,16.0,2.90,2.07,0.3
239,Marlon Mack,RB,5000,NaN,0,1,0,0,0,1,2.7,2022-12,2022.0,12.0,10.0,2.07,2.52,6.3

In [5]:
top = week.selectRosters(.75)
week._selection

'Roster0'

In [6]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

                 Nickname Position  Salary  Projected  Top Appearances
3         Patrick Mahomes       QB    9000       27.8             1375
66          Dameon Pierce       RB    6500       13.2             1081
63         Garrett Wilson       WR    6600       12.7             1065
202        Kyren Williams       RB    5500        9.8             1035
9           Davante Adams       WR    8600       18.0              935
35            Aaron Jones       RB    7400       15.2              860
73       Christian Watson       WR    6500       11.6              798
60          Brandon Aiyuk       WR    6700       12.0              776
171        Pat Freiermuth       TE    5900       10.1              672
800      Tennessee Titans        D    3400        6.1              553
288           Evan Engram       TE    4800        6.5              472
17    Christian McCaffrey       RB    8200       17.0              413
19             A.J. Brown       WR    8100       15.9              400
48       David Montgomery       RB    7000       13.5              365
801  Los Angeles Chargers        D    3300        5.8              308
802         Chicago Bears        D    3200        5.4              247
28            Dalvin Cook       RB    7600       15.0              185
2           Austin Ekeler       RB    9200       19.8              177
803     Las Vegas Raiders        D    3100        5.1              144
51         Terry McLaurin       WR    6900       12.2              124
94          George Kittle       TE    6200       10.4              116
718         New York Jets        D    4000        7.4               95
249         Tyler Conklin       TE    5000        6.8               49
13           Travis Kelce       TE    8400       16.5               36
246             Cole Kmet       TE    5000        6.8               32
794    Kansas City Chiefs        D    3800        6.5               26
64          Joshua Palmer       WR    6600       11.0               18
56           Deebo Samuel       WR    6800       11.6                5
110        Antonio Gibson       RB    6100       10.1                4
199        Chase Claypool       WR    5500        7.7                4
180          Nico Collins       WR    5800        8.6                2
403      Baltimore Ravens        D    4500        8.1                2
54          DeVonta Smith       WR    6800       11.6                1

In [7]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'Hist_Std':'first', 'K':min, 'Score':['first', 'count']})
y_g.sort_values(('Score', 'first'), ascending=False).head(10)

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
93     Roster0  60000.0     125.8    21.03  0.0  7916    60
92     Roster6  60000.0     125.3    19.11  1.0  7825    26
91    Roster40  59900.0     125.2    21.55  2.0  7796    22
90   Roster540  59900.0     125.2    20.87  2.0  7776    31
89  Roster1054  59900.0     124.8    21.11  2.0  7658    16
88     Roster3  60000.0     125.6    21.39  1.0  7621    49
87    Roster22  60000.0     124.9    21.66  2.0  7579    32
86  Roster1052  59900.0     125.3    20.98  2.0  7518     2
85    Roster37  60000.0     124.7    21.98  2.0  7506    24
84    Roster32  60000.0     124.5    19.73  2.0  7487    66

In [14]:
week.data[week.data['Roster0']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
3,Patrick Mahomes,QB,9000,NaN,1,0,0,0,0,0,27.8,2022-12,2022.0,12.0,16.0,25.57,5.88
9,Davante Adams,WR,8600,NaN,0,0,1,0,0,1,18.0,2022-12,2022.0,12.0,16.0,18.74,9.51
35,Aaron Jones,RB,7400,NaN,0,1,0,0,0,1,15.2,2022-12,2022.0,12.0,16.0,14.27,7.35
63,Garrett Wilson,WR,6600,NaN,0,0,1,0,0,1,12.7,2022-12,2022.0,12.0,11.0,10.15,8.48
66,Dameon Pierce,RB,6500,NaN,0,1,0,0,0,1,13.2,2022-12,2022.0,12.0,11.0,11.69,6.60
73,Christian Watson,WR,6500,NaN,0,0,1,0,0,1,11.6,2022-12,2022.0,12.0,9.0,10.06,10.50
171,Pat Freiermuth,TE,5900,NaN,0,0,0,1,0,1,10.1,2022-12,2022.0,12.0,16.0,8.04,3.14
202,Kyren Williams,RB,5500,NaN,0,1,0,0,0,1,9.8,2022-12,2022.0,12.0,3.0,5.93,1.38
718,New York Jets,D,4000,NaN,0,0,0,0,1,0,7.4,2022-12,2022.0,12.0,16.0,7.44,5.07

In [15]:
week.data[week.data['Roster6']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
3,Patrick Mahomes,QB,9000,NaN,1,0,0,0,0,0,27.8,2022-12,2022.0,12.0,16.0,25.57,5.88
9,Davante Adams,WR,8600,NaN,0,0,1,0,0,1,18.0,2022-12,2022.0,12.0,16.0,18.74,9.51
35,Aaron Jones,RB,7400,NaN,0,1,0,0,0,1,15.2,2022-12,2022.0,12.0,16.0,14.27,7.35
60,Brandon Aiyuk,WR,6700,NaN,0,0,1,0,0,1,12.0,2022-12,2022.0,12.0,16.0,11.39,5.08
63,Garrett Wilson,WR,6600,NaN,0,0,1,0,0,1,12.7,2022-12,2022.0,12.0,11.0,10.15,8.48
66,Dameon Pierce,RB,6500,NaN,0,1,0,0,0,1,13.2,2022-12,2022.0,12.0,11.0,11.69,6.60
171,Pat Freiermuth,TE,5900,NaN,0,0,0,1,0,1,10.1,2022-12,2022.0,12.0,16.0,8.04,3.14
202,Kyren Williams,RB,5500,NaN,0,1,0,0,0,1,9.8,2022-12,2022.0,12.0,3.0,5.93,1.38
794,Kansas City Chiefs,D,3800,NaN,0,0,0,0,1,0,6.5,2022-12,2022.0,12.0,16.0,7.69,5.75

In [16]:
week.data[week.data['Roster40']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
3,Patrick Mahomes,QB,9000,NaN,1,0,0,0,0,0,27.8,2022-12,2022.0,12.0,16.0,25.57,5.88
9,Davante Adams,WR,8600,NaN,0,0,1,0,0,1,18.0,2022-12,2022.0,12.0,16.0,18.74,9.51
35,Aaron Jones,RB,7400,NaN,0,1,0,0,0,1,15.2,2022-12,2022.0,12.0,16.0,14.27,7.35
60,Brandon Aiyuk,WR,6700,NaN,0,0,1,0,0,1,12.0,2022-12,2022.0,12.0,16.0,11.39,5.08
63,Garrett Wilson,WR,6600,NaN,0,0,1,0,0,1,12.7,2022-12,2022.0,12.0,11.0,10.15,8.48
66,Dameon Pierce,RB,6500,NaN,0,1,0,0,0,1,13.2,2022-12,2022.0,12.0,11.0,11.69,6.60
94,George Kittle,TE,6200,NaN,0,0,0,1,0,1,10.4,2022-12,2022.0,12.0,16.0,10.78,10.17
202,Kyren Williams,RB,5500,NaN,0,1,0,0,0,1,9.8,2022-12,2022.0,12.0,3.0,5.93,1.38
800,Tennessee Titans,D,3400,NaN,0,0,0,0,1,0,6.1,2022-12,2022.0,12.0,16.0,8.31,6.22

## Save Game

In [18]:
week.export_game(override=True)

True

## FanDuel Tournament Export File

In [19]:
play = y_g.sort_values(('Score', 'first'), ascending=False).head(16)

rosters = play[('Roster', 'first')].to_list()

play

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
93     Roster0  60000.0     125.8    21.03  0.0  7916    60
92     Roster6  60000.0     125.3    19.11  1.0  7825    26
91    Roster40  59900.0     125.2    21.55  2.0  7796    22
90   Roster540  59900.0     125.2    20.87  2.0  7776    31
89  Roster1054  59900.0     124.8    21.11  2.0  7658    16
88     Roster3  60000.0     125.6    21.39  1.0  7621    49
87    Roster22  60000.0     124.9    21.66  2.0  7579    32
86  Roster1052  59900.0     125.3    20.98  2.0  7518     2
85    Roster37  60000.0     124.7    21.98  2.0  7506    24
84    Roster32  60000.0     124.5    19.73  2.0  7487    66
83     Roster8  60000.0     125.0    20.21  1.0  7482    70
82  Roster4212  59800.0     124.5    20.76  3.0  7413     2
81     Roster5  60000.0     124.9    18.61  1.0  7391    62
80    Roster18  59900.0     124.6    19.42  2.0  7370    38
79    Roster31  60000.0     124.1    19.99  2.0  7369    30
78  Roster2667  60000.0     124.8    21.90  3.0  7343     2

In [20]:
csv = week.FanDuelCSVExport(rosters)

Saving file Lib/FanDuel CSV Imports/FanDuel NFL 84056 upload file.csv

In [25]:
week.data[week.data['Roster2667']==1]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,...,Roster5102,Roster5103,Roster5104,Roster5105,Roster5106,Roster5107,Roster5108,Roster5109,Roster5110,Top Appearances
3,Patrick Mahomes,QB,9000,NaN,1,0,0,0,0,0,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,1375
9,Davante Adams,WR,8600,NaN,0,0,1,0,0,1,...,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,935
35,Aaron Jones,RB,7400,NaN,0,1,0,0,0,1,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,860
63,Garrett Wilson,WR,6600,NaN,0,0,1,0,0,1,...,-1.0,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,1065
66,Dameon Pierce,RB,6500,NaN,0,1,0,0,0,1,...,-1.0,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,1081
73,Christian Watson,WR,6500,NaN,0,0,1,0,0,1,...,-1.0,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,798
110,Antonio Gibson,RB,6100,NaN,0,1,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,4
171,Pat Freiermuth,TE,5900,NaN,0,0,0,1,0,1,...,-1.0,1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,672
800,Tennessee Titans,D,3400,NaN,0,0,0,0,1,0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,553