In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

In [3]:
week = Game('FanDuel-NFL-2022 ET-11 ET-20 ET-83311-players-list.csv',
            'NFL',
            '2022-11 Fantasy Pros Projections 22-11-20.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 11)

In [4]:
DROP = ['Chicago Bears', 'Las Vegas Raiders', 'Minnesota Vikings', 'Indianapolis Colts', # NFL
        'Cleveland Browns', 'Pittsburgh Steelers', 'Los Angeles Chargers'] # SI

week.generateRosters('reimagined', drop_players_initial=DROP)

Preprocessing completed in 0:00:00.004919.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:00:32.028848.
Optimal solutions: 511 / 511

Dropped Saquon Barkley. Using Roster1 as basis...
Iteration 1 completed in 0:00:33.280281.
Optimal solutions: 511 / 511

Dropped Josh Allen. Using Roster2 as basis...
Iteration 2 completed in 0:00:32.790563.
Optimal solutions: 511 / 511

Dropped Justin Jefferson. Using Roster3 as basis...
Iteration 3 completed in 0:00:34.032649.
Optimal solutions: 511 / 511

Dropped Garrett Wilson. Using Roster4 as basis...
Iteration 4 completed in 0:00:33.142982.
Optimal solutions: 511 / 511

Dropped David Montgomery. Using Roster5 as basis...
Iteration 5 completed in 0:00:32.177188.
Optimal solutions: 511 / 511

Dropped Greg Dulcich. Using Roster6 as basis...
Iteration 6 completed in 0:00:34.663623.
Optimal solutions: 511 / 511

Dropped Pat Freiermuth. Using Roster7 as basis...
Iteration 7 completed in 0:00:35.582384.
Optimal solutions: 511 / 511

Dropped Isaiah McKenzie. Using Roster8 as basis...
Iteration 8 completed in 0:00:35.308175.
Optimal solutions: 511 / 511

Dropped Atlanta Falcons. Using Roster9 as basis...
Iteration 9 completed in 0:00:35.684681.
Optimal solutions: 511 / 511
--------------------------------------------------

Strategy completed in 0:05:38.692422.
Optimal results: 5111 / 5111

Summarizing rosters...
Rosters summarized in 0:00:11.460947.

Total time: 0:05:50.158288.

(5111, 5111)

In [5]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std,Proj_Percent
14,Lamar Jackson,QB,8400,Q,1,0,0,0,0,0,21.4,2022-09,2022.0,9.0,16.0,20.08,10.62,99.8
11,Davante Adams,WR,8500,Q,0,0,1,0,0,1,15.2,2022-10,2022.0,10.0,16.0,18.79,9.18,100.0
22,Mark Andrews,TE,7700,Q,0,0,0,1,0,1,12.4,2022-08,2022.0,8.0,16.0,14.61,8.79,99.9
38,Ezekiel Elliott,RB,7000,Q,0,1,0,0,0,1,7.6,2022-07,2022.0,7.0,16.0,11.01,4.93,97.0
714,Pittsburgh Steelers,D,3800,NaN,0,0,0,0,1,0,7.0,2022-10,2022.0,10.0,16.0,6.38,7.76,38.7
163,Wan'Dale Robinson,WR,5700,Q,0,0,1,0,0,1,6.7,2022-10,2022.0,10.0,5.0,5.04,4.36,20.2
720,Las Vegas Raiders,D,3200,NaN,0,0,0,0,1,0,6.2,2022-10,2022.0,10.0,16.0,3.25,3.47,11.2
651,Minnesota Vikings,D,4000,NaN,0,0,0,0,1,0,5.9,2022-10,2022.0,10.0,16.0,8.12,5.57,19.2
715,Chicago Bears,D,3700,NaN,0,0,0,0,1,0,5.8,2022-10,2022.0,10.0,16.0,5.38,5.38,3.7
157,David Njoku,TE,5800,Q,0,0,0,1,0,1,5.8,2022-07,2022.0,7.0,16.0,6.81,5.08,89.1

In [6]:
top = week.selectRosters(.75)
week._selection

'Roster0'

In [7]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

                Nickname Position  Salary  Projected  Top Appearances
80      David Montgomery       RB    6200       12.8             1282
3       Justin Jefferson       WR    9100       20.6             1072
2             Josh Allen       QB    9200       26.3             1072
0         Saquon Barkley       RB    9700       23.0             1037
182       Pat Freiermuth       TE    5400        9.7             1011
177         Greg Dulcich       TE    5500        9.2              870
78        Garrett Wilson       WR    6200       10.9              853
718      Atlanta Falcons        D    3400        6.5              756
67         DeVonta Smith       WR    6400       11.5              709
109       Darnell Mooney       WR    6000       10.1              669
26          Alvin Kamara       RB    7500       15.0              426
70      Devin Singletary       RB    6400       11.5              399
711       Denver Broncos        D    3900        7.6              291
719    Carolina Panthers        D    3300        5.7              291
27          Dak Prescott       QB    7500       19.5              262
188      Isaiah McKenzie       WR    5300        7.0              166
186         Mack Hollins       WR    5400        7.2              153
17           CeeDee Lamb       WR    8100       15.9              136
162         Drake London       WR    5700        8.5              135
202          Dawson Knox       TE    5100        7.1               82
206        Juwan Johnson       TE    5100        7.1               80
62         Jakobi Meyers       WR    6500       11.0               78
173           Kyle Pitts       TE    5500        8.5               77
156       Dalton Schultz       TE    5900        9.8               41
198         Hayden Hurst       TE    5200        7.2               37
48            Tyler Boyd       WR    6800       11.6               33
21     Amon-Ra St. Brown       WR    7800       14.8               27
55   Michael Pittman Jr.       WR    6700       11.4               25
86         Curtis Samuel       WR    6100        9.4               25
8          Justin Fields       QB    8700       22.9               24
142         Adam Thielen       WR    6000        9.1               20
29        Terry McLaurin       WR    7300       12.8               20
713      New York Giants        D    3800        6.8               20
23         Dameon Pierce       RB    7600       14.7               16
210           Noah Brown       WR    5100        5.7               12
201    Olamide Zaccheaus       WR    5200        5.9                7
58        Antonio Gibson       RB    6600       11.2                5
189        Ben Skowronek       WR    5300        6.6                2
40           Chris Olave       WR    6900       11.7                1

In [9]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'Hist_Std':'first', 'K':min, 'Score':['first', 'count']})
y_g.sort_values(('Score', 'first'), ascending=False).head(10)

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
88     Roster0  60000.0     126.0    19.28  0.0  8119    60
87  Roster2593  60000.0     125.6    18.47  2.0  7955     2
86     Roster4  59900.0     125.4    18.58  1.0  7922    40
85  Roster1570  60000.0     125.3    18.33  2.0  7821    12
84     Roster3  60000.0     125.8    19.61  1.0  7815    55
83  Roster2089  59900.0     125.2    19.23  2.0  7654     2
82  Roster2134  59900.0     124.6    20.43  3.0  7651     8
81     Roster9  60000.0     125.4    19.34  1.0  7641    44
80     Roster1  59800.0     124.8    20.90  1.0  7580    50
79    Roster25  59900.0     125.0    17.71  2.0  7542    16

In [11]:
# week.data[week.data['Roster0']==1].iloc[:, :17]

In [13]:
# week.data[week.data['Roster2593']==1].iloc[:, :17]

In [14]:
week.data[week.data['Roster4']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
0,Saquon Barkley,RB,9700,NaN,0,1,0,0,0,1,23.0,2022-10,2022.0,10.0,16.0,14.21,6.99
2,Josh Allen,QB,9200,NaN,1,0,0,0,0,0,26.3,2022-10,2022.0,10.0,16.0,26.39,6.34
3,Justin Jefferson,WR,9100,NaN,0,0,1,0,0,1,20.6,2022-10,2022.0,10.0,16.0,18.11,9.12
80,David Montgomery,RB,6200,NaN,0,1,0,0,0,1,12.8,2022-10,2022.0,10.0,16.0,11.12,6.36
109,Darnell Mooney,WR,6000,NaN,0,0,1,0,0,1,10.1,2022-10,2022.0,10.0,16.0,8.17,5.24
177,Greg Dulcich,TE,5500,NaN,0,0,0,1,0,1,9.2,2022-10,2022.0,10.0,4.0,7.95,4.47
182,Pat Freiermuth,TE,5400,NaN,0,0,0,1,0,1,9.7,2022-10,2022.0,10.0,16.0,7.75,3.11
186,Mack Hollins,WR,5400,NaN,0,0,1,0,0,1,7.2,2022-10,2022.0,10.0,16.0,5.91,7.03
718,Atlanta Falcons,D,3400,NaN,0,0,0,0,1,0,6.5,2022-10,2022.0,10.0,16.0,5.62,5.10

## Save Game

In [15]:
# week.export_game()

True