In [1]:
from Game import *
import pandas as pd

%load_ext autoreload
%autoreload 2

## Start em with only one tight end

In [3]:
week = Game('FanDuel-NFL-2023 ET-01 ET-08 ET-85546-players-list.csv',
            'NFL',
            '2022-18 Fantasy Pros Projections 23-01-08.xlsx',
            'FantasyPros NFL Historical.xlsx',
            2022, 18)

In [4]:
startem = pd.read_excel('Sports Illustrated.xlsx', sheet_name='Week 18')
startem.shape

(57, 2)

In [5]:
# drop all players not in SI start em
DROP = (set(week.data['Nickname']) - set(startem['Name']))

week.generateRosters('reimagined', drop_players_initial=DROP, min_pts=0, drop_injuries=['D', 'IA', 'O', 'IR'], max_te=1)

Preprocessing completed in 0:00:00.003470.

Beginning strategy: reimagined
--------------------------------------------------

Initial iteration completed in 0:00:23.773880.
Optimal solutions: 511 / 511

Dropped Josh Allen. Using Roster1 as basis...
Iteration 1 completed in 0:00:22.492265.
Optimal solutions: 511 / 511

Dropped Najee Harris. Using Roster2 as basis...
Iteration 2 completed in 0:00:23.640136.
Optimal solutions: 511 / 511

Dropped DK Metcalf. Using Roster3 as basis...
Iteration 3 completed in 0:00:24.484705.
Optimal solutions: 511 / 511

Dropped Garrett Wilson. Using Roster4 as basis...
Iteration 4 completed in 0:00:23.899487.
Optimal solutions: 511 / 511

Dropped Miles Sanders. Using Roster5 as basis...
Iteration 5 completed in 0:00:22.788595.
Optimal solutions: 511 / 511

Dropped Tyler Allgeier. Using Roster6 as basis...
Iteration 6 completed in 0:00:22.563621.
Optimal solutions: 511 / 511

Dropped Rashid Shaheed. Using Roster7 as basis...
Iteration 7 completed in 0:00:22.836973.
Optimal solutions: 511 / 511

Dropped Dawson Knox. Using Roster8 as basis...
Iteration 8 completed in 0:00:26.339512.
Optimal solutions: 511 / 511

Dropped San Francisco 49ers. Using Roster9 as basis...
Iteration 9 completed in 0:00:26.357506.
Optimal solutions: 511 / 511
--------------------------------------------------

Strategy completed in 0:03:59.179667.
Optimal results: 5111 / 5111

Summarizing rosters...
Rosters summarized in 0:00:13.879884.

Total time: 0:04:13.063021.

(5111, 5111)

In [6]:
# verify dropped players
week.tracking['preprocessing_drops'].sort_values('Projected', ascending=False).head(10)

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std,Proj_Percent
22,Kirk Cousins,QB,7700,NaN,1,0,0,0,0,0,18.3,2022-16,2022.0,16.0,16.0,18.29,7.46,93.3
46,Jared Goff,QB,7200,NaN,1,0,0,0,0,0,17.4,2022-16,2022.0,16.0,16.0,17.58,8.23,77.9
21,Kenneth Walker III,RB,7700,NaN,0,1,0,0,0,1,16.4,2022-16,2022.0,16.0,11.0,15.09,7.30,96.6
70,Deshaun Watson,QB,6800,NaN,1,0,0,0,0,0,16.2,2022-16,2022.0,16.0,16.0,21.49,7.75,64.7
61,Russell Wilson,QB,6900,NaN,1,0,0,0,0,0,16.1,2022-16,2022.0,16.0,16.0,16.58,7.14,45.3
67,Sam Darnold,QB,6800,NaN,1,0,0,0,0,0,14.8,2022-16,2022.0,16.0,16.0,14.86,8.41,5.2
80,Kenny Pickett,QB,6600,NaN,1,0,0,0,0,0,14.5,2022-16,2022.0,16.0,12.0,12.09,4.49,11.3
94,Mac Jones,QB,6400,NaN,1,0,0,0,0,0,14.5,2022-16,2022.0,16.0,16.0,12.69,5.78,14.6
85,Tyler Huntley,QB,6500,Q,1,0,0,0,0,0,14.3,2022-16,2022.0,16.0,14.0,10.19,9.15,16.1
90,Andy Dalton,QB,6500,NaN,1,0,0,0,0,0,14.3,2022-16,2022.0,16.0,16.0,13.57,6.23,10.7

In [7]:
top = week.selectRosters(.75)
week._selection

'Roster0'

In [8]:
# players with appearances
x = week.data[['Nickname', 'Position', 'Salary', 'Projected', 'Top Appearances']]
x[x['Top Appearances'] > 0].sort_values('Top Appearances', ascending=False)

                 Nickname Position  Salary  Projected  Top Appearances
321   San Francisco 49ers        D    4900       11.1             1140
83         Tyler Allgeier       RB    6500       12.4             1108
72          Miles Sanders       RB    6700       13.0             1047
4              Josh Allen       QB    8800       24.8              885
49         Garrett Wilson       WR    7100       12.6              884
206        Rashid Shaheed       WR    5800        8.6              853
44           Najee Harris       RB    7200       13.7              824
45             DK Metcalf       WR    7200       12.8              765
65       Christian Watson       WR    6900       11.7              691
35            Aaron Jones       RB    7400       13.9              620
81           Drake London       WR    6500       10.1              472
284         Tyler Conklin       TE    5100        6.5              409
124        Dallas Goedert       TE    6200       10.0              407
216           Dawson Knox       TE    5700        8.3              405
47          Aaron Rodgers       QB    7100       18.9              265
36              Cam Akers       RB    7300       13.3              141
806  Los Angeles Chargers        D    4100        7.2              135
3             Jalen Hurts       QB    9000       24.3              132
31              Joe Mixon       RB    7500       13.8              106
10            CeeDee Lamb       WR    8200       15.0               73
89         Dalton Schultz       TE    6500       10.2               61
37               DJ Moore       WR    7300       11.9               31
19            Tee Higgins       WR    7800       13.5               31
15      Amon-Ra St. Brown       WR    8000       14.0               21
122         Brandin Cooks       WR    6200        8.4               20
20          DeVonta Smith       WR    7700       13.0                4
937     Carolina Panthers        D    3800        5.8                4
484         New York Jets        D    4500        7.4                3
7           Ja'Marr Chase       WR    8500       15.3                1

In [57]:
# highest scoring rosters and frequency
y = top.copy()
y['Roster'] = y.index
y_g = y.groupby('Score', as_index=False).agg({'Roster':'first', 'Salary':'first', 'Projected':'first', 'Hist_Std':'first', 'K':min, 'Score':['first', 'count']})
y_g = y_g.sort_values(('Score', 'first'), ascending=False)

y_g.head(10)

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
77     Roster0  59900.0     117.3    20.20  0.0  7911    62
76  Roster2070  59800.0     116.4    22.41  2.0  7633    10
75     Roster7  60000.0     117.0    20.34  1.0  7534    23
74   Roster545  59900.0     116.6    21.89  2.0  7514    25
73   Roster523  59800.0     116.5    19.67  2.0  7501     7
72     Roster5  60000.0     116.4    19.85  1.0  7488    44
71     Roster3  59900.0     116.5    21.16  1.0  7416    28
70    Roster27  59900.0     115.9    22.29  2.0  7353    19
69  Roster1611  59800.0     116.1    21.14  3.0  7341     3
68     Roster4  60000.0     116.7    20.61  1.0  7297    34

In [12]:
week.data[week.data['Roster0']==1].iloc[:, :17]

,Nickname,Position,Salary,Injury Indicator,QB,RB,WR,TE,DST,FLEX,Projected,MR_Period,MR_Season,MR_WeekNum,N_Games,Hist_Avg,Hist_Std
4,Josh Allen,QB,8800,NaN,1,0,0,0,0,0,24.8,2022-16,2022.0,16.0,16.0,24.35,8.76
44,Najee Harris,RB,7200,NaN,0,1,0,0,0,1,13.7,2022-16,2022.0,16.0,16.0,11.84,4.81
45,DK Metcalf,WR,7200,NaN,0,0,1,0,0,1,12.8,2022-16,2022.0,16.0,16.0,11.02,6.20
49,Garrett Wilson,WR,7100,NaN,0,0,1,0,0,1,12.6,2022-16,2022.0,16.0,16.0,10.05,7.84
72,Miles Sanders,RB,6700,NaN,0,1,0,0,0,1,13.0,2022-16,2022.0,16.0,16.0,12.71,9.06
83,Tyler Allgeier,RB,6500,NaN,0,1,0,0,0,1,12.4,2022-16,2022.0,16.0,15.0,9.19,5.97
206,Rashid Shaheed,WR,5800,NaN,0,0,1,0,0,1,8.6,2022-16,2022.0,16.0,11.0,7.35,5.18
216,Dawson Knox,TE,5700,NaN,0,0,0,1,0,1,8.3,2022-16,2022.0,16.0,16.0,6.89,5.07
321,San Francisco 49ers,D,4900,NaN,0,0,0,0,1,0,11.1,2022-16,2022.0,16.0,16.0,9.25,6.15

## Save Game

In [14]:
# week.export_game()

## FanDuel Tournament Export File

In [111]:
play = y_g.sort_values(('Score', 'first'), ascending=False).head(8)

rosters = play[('Roster', 'first')].to_list()

play

        Roster   Salary Projected Hist_Std    K Score
         first    first     first    first  min first count
77     Roster0  59900.0     117.3    20.20  0.0  7911    62
76  Roster2070  59800.0     116.4    22.41  2.0  7633    10
75     Roster7  60000.0     117.0    20.34  1.0  7534    23
74   Roster545  59900.0     116.6    21.89  2.0  7514    25
73   Roster523  59800.0     116.5    19.67  2.0  7501     7
72     Roster5  60000.0     116.4    19.85  1.0  7488    44
71     Roster3  59900.0     116.5    21.16  1.0  7416    28
70    Roster27  59900.0     115.9    22.29  2.0  7353    19

In [113]:
# csv = week.FanDuelCSVExport(rosters)